<template>
  <div class="hello">
    <h1
      v-text="msg" 
      class="noselect"
    />
    <div class="search-wrapper">
      <input 
        type="text"
        v-model="search"
        :placeholder="title" 
      />
      <label v-text="title" />
    </div>
    <div
      class="checkbox-wrapper noselect"
      >
      <label>
        <input
          v-model="uppercase"
          type="checkbox"
        />
        uppercase
      </label>
      <label>
        <input
          v-model="lowercase"
          type="checkbox"
        />
        lowercase
      </label>
      <label>
        <input
          v-model="translite"
          type="checkbox"
        />
        translite
      </label>
      <label>
        <input
          v-model="reverse"
          type="checkbox"
        />
        reverse
      </label>
    </div>
    <div
      v-if="symbolsCount(searchName)"
      v-text="'Введите имя больше 3 символов'"
      class="search-info" />
    <div
      v-if="symbolsCount(searchSurname)"
      v-text="'Введите фамилию больше 3 символов'"
      class="search-info" />
    
    <ul class="wrapper">
      <li v-for="(people, index) in filteredListNames" :key="index">
        {{
          people.Name
            | resultView(searchName, people.Surname)
            | filterUppercase(uppercase)
            | filterLowercase(lowercase)
            | filterTranslite(translite)
            | filterReverse(reverse)
        }}
      </li>
      <li 
        v-if="!filteredListNames 
          && searchName"
        v-text="searchName + ' ...'"
      />
    </ul>
  </div>
</template>

<script>
import _ from "lodash"
import russian_names from '@/data/russian_names.json'
import russian_surnames from '@/data/russian_surnames.json'
import { transliterate as tr } from "transliteration"

export default {
  props: {
    msg: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
  },
  data: () => ({
    search: '',
    searchName: '',
    searchSurname: '',
    uppercase: false,
    lowercase: false,
    translite: false,
    reverse: false
  }),
  filters: {
    resultView(name, searchStr, surname) {
      if (!name) return `${searchStr} ${surname}`
      return `${name} ...`
    },
    filterUppercase(str, on) {
      return on ? str.toUpperCase() : str
    },
    filterLowercase(str, on) {
      return on ? str.toLowerCase() : str
    },
    filterTranslite(str, on) {
      return on ? tr(str) : str
    },
    filterReverse(str, on) {
      return on ? str.split('').reverse().join('') : str
    }
  },
  watch: {
    search(val, old) {
      if (!/^[А-я\s]*$/.test(val)) this.search = old
      this.debouncedSearch(val)
    },
    uppercase(v) {
      this.uppercase = v
    },
    lowercase(v) {
      this.lowercase = v
    },
    translite(v) {
      this.translite = v
    },
    reverse(v) {
      this.reverse = v
    }
  },
  methods: {
    debouncedSearch: _.debounce(function (val) {
      this.searchNow(val)
    }, 350),
    searchNow(val) {
      this.searchName = val.toLowerCase().trim()
      this.searchSurname = ''
      if (this.hasWhiteSpace(val)) {
        let query = val.split(' ')
        if (query[1]) {
          this.searchName = query[0]
          this.searchSurname = query[1].toLowerCase()
        }
      }
    },
    dataNamesFromDB() {
      return russian_names
    },
    dataSurnamesFromDB() {
      return russian_surnames
    },
    hasWhiteSpace(s) {
      return s.includes(' ')
    },
    searchSurnameList() {
      if (this.searchSurname.length < 3) return null
      return this.dataSurnamesFromDB().filter(user => {
        return user.Surname.toLowerCase().includes(this.searchSurname)
      })
    },
    symbolsCount(n) {
      if (n.length > 0 
        && n.length < 3) return true
      else return false
    }
  },
  computed: {
    filteredListNames() {
      if (this.searchName.length < 3) return null
      if (this.searchSurname.length > 0) return this.searchSurnameList()
      return this.dataNamesFromDB().filter(user => {
        return user.Name.toLowerCase().includes(this.searchName)
      })
    }
  }
}
</script>

<style lang="sass" scope>
.hello
  width: 100%
.search-wrapper 
  position: relative;
  label 
    position: absolute;
    font-size: 12px;
    color: rgba(0,0,0,.50);
    top: 8px;
    left: 12px;
    z-index: -1;
    transition: .15s all ease-in-out;
  
  input 
    padding: 4px 12px;
    color: rgba(0,0,0,.70);
    border: 1px solid rgba(0,0,0,.12);
    transition: .15s all ease-in-out;
    background: white;
    width: 100%;
    &:focus 
      outline: none;
      transform: scale(1.05);
      & + label  
        font-size: 12px;
        transform: translateY(-24px) translateX(-12px);
      
    &::-webkit-input-placeholder
        font-size: 12px;
        color: rgba(0,0,0,.50);
        font-weight: 100;

.checkbox-wrapper
  font-size: 13px;
  margin-top: 5px;
  label, label *
    vertical-align: middle;

.wrapper 
  display: flex;
  max-width: 450px;
  flex-wrap: wrap;
  padding-top: 12px;
  li
    width: 100%;
    list-style-type: none;
    display: inline-block;
    text-align: left;

.search-info
  color: red;
  font-size: 13px;
  margin-top: 10px;

.noselect, .noselect * 
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
</style>
