<template>
  <div id="app">
    <VueSearch
      msg="Vue Search"
      title="Поиск по имени"
    />
  </div>
</template>

<script>
import VueSearch from './components/VueSearch.vue'

export default {
  components: {
    VueSearch
  }
}
</script>

<style lang="sass">
html, body
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;

div#app 
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
</style>